/*Import from goggle fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Body styling*/
body {
    background-color: #fbfbfb;
    min-height: 100vh;
    /* Generic project styles */
    color: #201a23;
    font-family: 'Open Sans', 'Source Code Pro', sans-serif;
}

h1 {
    display: inline;
    font-family: 'Ubuntu Mono', 'Roboto', sans-serif;
    color: #2e2532;
}

/*Style header*/
header {
    background-color: #fbfbfb;
    width: 100%;
    position: sticky;
    /*position: relative or absolute made main and footer come out of view*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header a {
    text-decoration: none;
}

#menu a {
    color: #2e2532;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-size: 100%;
}

#menu>li {
    margin-bottom: 1rem;
}


.active {
    border-bottom: 3px solid #2e2532;
}

/*Style navigation elements*/
nav {
    position: absolute;
    background-color: #fbfbfb;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #2e2532;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-tog:checked~nav {
    display: block;
}

#nav-tog {
    display: none;
    /*The checkbox won't show*/
}

.nav-tog-label {
    font-size: 2.4rem;
    color: #2e2532;
}

/*After the header*/


#hero {
    width: 100%;
    padding: 0;
    margin: 0;
}

#hero-cafe {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0
}

#p1 {
    font-size: 50px;
    font-family: 'Ubuntu Mono';
    line-break: loose;
    padding: 2%;
    background-color: #e1da46;
    color: #2e2532;
    text-align: center;
}

h2 {
    margin-top: 10px;
    text-align: center;
}

/* Cafe page disclaimer text */
.disclaimer{
    padding: 10px;
    border-radius: 8px;
    background-color: #EC9090;
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    font-size: large;
}


/* Grid based images */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 45px auto;
}

.grid-item {
    width: 100%;
    min-height: 240px;
    padding-bottom: 12px;
    position: relative;
    overflow: hidden;
    background-color: #ccc;
    /* Fallback color */
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Like Icon */
.like-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-icon:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.like-icon svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.like-icon.liked svg {
    transform: scale(1.3);
    fill: #3ca80e;
    animation: pulse 0.5s ease;
}

/* Heart Animation */
@keyframes pulse {
    0% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.3);
    }
}

/* Pop-up modal for infographics */
.image-container {
    position: relative;
    display: inline-block;
    
}

.image {
    margin-top: 20px;
    width: 300px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
}

.icon:hover {
    background: rgba(0, 0, 0, 0.9);
}

/* The semi-transparent background */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

/* The actual pop-up content */
.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

/*Contact Us Page*/

/* General Styles */
#contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Input and Textarea Styles */
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* Rounded Borders */
    width: 100%;
    box-sizing: border-box;
}

#contactForm textarea {
    min-height: 100px;
    resize: vertical;
    /* Allow resizing vertically */
}

/* Label Styles */
#contactForm label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

/* Datalist Input */
#contactForm input[list] {
    font-size: 16px;
}

/* Button Styles */
#contactForm button {
    background-color: #4CBB17;
    /* Kelly Green */
    color: #2B2B2B;
    /* Raisin Black */
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    /* Rounded Borders */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#contactForm button:hover {
    background-color: #2B2B2B;
    /* Raisin Black */
    color: #fff;
    /* White */
}


.p-main {
    font-family: 'Source Code Pro';
    font-size: 30px;
    line-break: loose;
    padding: 2%;
    background-color: #3ca80e;
    color: #2e2532;
    text-align: left;
    margin: 2%;
}

.p-main::selection {
    background-color: #201A23;
    /* Background color of the highlight */
    color: #e1da46;
    /* Text color of the highlight */
}

/* Footer and its contents */

footer {
    margin-top: 15%;
    padding: 20px;
    background-color: #201a23;
    color: #fbfbfb;
}

h3 {
    font-size: 30px;
}

footer div p {
    margin-top: 20px;
    font-weight: bolder;
}

.fa-footer {
    padding: 10px;
    font-size: 200%
}

i {
    text-decoration: none;
    color: #fbfbfb;
}

.fa-footer:hover {
    font-size: calc(200% + 10px);
}

div a {
    text-decoration: none;
}

/*Media queries*/

/*Header MQ for tablets and larger screens*/

/* Header */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #menu>li:hover {
        font-weight: bolder;
    }

    .nav-tog-label {
        display: none;
    }

    #header_logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
}

/* Responsive Design for grid boxes for tablet screens and phone*/

/* Responsive design for tablet screen sizes */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on medium screens */
    }
}

/* Responsive design for phone sizes */
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* 1 column on small screens */
    }
}

/* media queries for contact form for tablets and smaller devices */
@media (max-width: 600px) {
    #contact-div {
        padding: 15px;
        margin: 10px;
    }

    #contactForm input[type="text"],
    #contactForm input[type="email"],
    #contactForm textarea,
    #contactForm button {
        font-size: 14px;
        padding: 8px;
    }
}